.registerLabel {
  margin: 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 10px;
  grid-template-areas: 'a c';
  justify-items: left;
  align-items: baseline;
}

.label {
  grid-area: a;
  margin: 0 0 5px 5px;
  padding: 3px;
}

.registerInput {
  width: 300px;
  grid-area: c;
  margin: 0 0 5px 5px;
  padding: 3px;
}

.findAddressButton {
  width: 80px;
  height: 42px;
  margin: 0px 6px;
  font-size: 17px;
}

.AddressInput {
  margin: 0 0 5px 5px;
}
