.loginBox {
  margin: 0 5px;
  border: 0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    '. a .'
    '. b .'
    '. c .';
  justify-items: center;
}

.bigTitle {
  grid-area: a;
  align-content: center;
  margin: 0 0 5px 5px;
  padding: 3px;
}

.loginInfo {
  grid-area: b;
  align-content: center;
  margin: 0 0 5px 5px;
  padding: 3px;
}

.loginRegiButton {
  grid-area: c;
  align-content: center;
  padding: 3px;
  padding-bottom: 60px;
}

button {
  padding: 3px;
  margin: 2px;
}
