.phoneSearchBox {
  grid-area: p;
  border: 0px solid gray;
  margin: 0px !important;
  height: 100% !important;
}

.phoneSearchInput {
  border: 1px solid rgb(183, 191, 199) !important;
  margin: 4px auto !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #333;
  opacity: 1; /* Firefox */
  font-size: 13px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #333;
  font-size: 13px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #333;
  font-size: 13px;
}

.flexColInModal {
  font-size: 20px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
}
.flexRowInModal {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: space-between; */
}
.flexInModal span {
  /* width: 100px; */
}
/* .colWidthInModal {

} */

.buttonInModal {
  width: 60px;
}
.InputInModal {
  margin: 10px;
}

.InputInModal::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
  font-size: 15px;
}

.InputInModal:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
  font-size: 15px;
}

.InputInModal::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
  font-size: 15px;
}

.searchItem {
  /* padding: 5px;
  padding-top: 6px; */
  /* border: 0px; */
  /* border-bottom: 1px solid rgb(177, 185, 194) !important; */
  border-bottom: 1px solid #bbb !important;
  /* width: 100%; */
  padding: 5px;
  transition-property: background-color;
  transition-duration: 200ms;
  color: #333;
}
.searchItem:hover {
  color: #3a3a3a;
  font-weight: 500;
  background-color: hsl(46, 98%, 67%);
  cursor: pointer;
}

.searchResult {
  height: 85%;
  overflow: scroll;
  border: 1px solid rgb(183, 191, 199);
  border-radius: 4px;
  color: #777;
  padding: 5px;
}

/* 아래는 안씀 */
#div-addCustomer {
  color: black;
  text-align: center;
  background-color: rgb(253, 202, 10);
  padding: 4px;
  margin: 8px;
  font-weight: 700;
  transition-duration: 200ms;
  border-radius: 6px;
}
#div-addCustomer:hover {
  background-color: hsl(46, 98%, 67%);
  color: rgb(223, 58, 47);
  cursor: pointer;
}

#phoneNumberDelete {
  background-color: gray;
  color: white;
  position: relative;
  left: -20px;
}

.img-deleteButton {
  transition-duration: 200ms;
}

.img-deleteButton:hover {
  filter: opacity(50%);
  cursor: pointer;
}
